<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
        <string>pinkcoin.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>2.2.1.0 CryptoROX, Copyright © 2016-2018 The Pinkcoin developers</string>
	<key>CFBundleShortVersionString</key>
        <string>2.2.1.0</string>
	<key>CFBundleVersion</key>
        <string>2.2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Pinkcoin-Qt</string>
	<key>CFBundleIdentifier</key>
        <string>pink.with.Pinkcoin-Qt</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
                        <string>pink.with.PinkcoinPayment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pinkcoin</string>
			</array>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSAppNapIsDisabled</key>
	<string>True</string>
</dict>
</plist>
